@font-face {
    font-family: 'fira_sans_light';
    src: url('/fonts/firasans/firasans-light-webfont.eot');
    src: url('/fonts/firasans/firasans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-light-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-light-webfont.woff') format('woff'), url('/fonts/firasans/firasans-light-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_lightitalic';
    src: url('/fonts/firasans/firasans-lightitalic-webfont.eot');
    src: url('/fonts/firasans/firasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-lightitalic-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-lightitalic-webfont.woff') format('woff'), url('/fonts/firasans/firasans-lightitalic-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-lightitalic-webfont.svg#fira_sanslight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'fira_sans_regular';
    src: url('/fonts/firasans/firasans-regular-webfont.eot');
    src: url('/fonts/firasans/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-regular-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-regular-webfont.woff') format('woff'), url('/fonts/firasans/firasans-regular-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_italic';
    src: url('/fonts/firasans/firasans-italic-webfont.eot');
    src: url('/fonts/firasans/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-italic-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-italic-webfont.woff') format('woff'), url('/fonts/firasans/firasans-italic-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'fira_sans_medium';
    src: url('/fonts/firasans/firasans-medium-webfont.eot');
    src: url('/fonts/firasans/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-medium-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-medium-webfont.woff') format('woff'), url('/fonts/firasans/firasans-medium-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans_mediumitalic';
    src: url('/fonts/firasans/firasans-mediumitalic-webfont.eot');
    src: url('/fonts/firasans/firasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-mediumitalic-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-mediumitalic-webfont.woff') format('woff'), url('/fonts/firasans/firasans-mediumitalic-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-mediumitalic-webfont.svg#fira_sansmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'fira_sans_bold';
    src: url('/fonts/firasans/firasans-bold-webfont.eot');
    src: url('/fonts/firasans/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-bold-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-bold-webfont.woff') format('woff'), url('/fonts/firasans/firasans-bold-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sans-bolditalic';
    src: url('/fonts/firasans/firasans-bolditalic-webfont.eot');
    src: url('/fonts/firasans/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans/firasans-bolditalic-webfont.woff2') format('woff2'), url('/fonts/firasans/firasans-bolditalic-webfont.woff') format('woff'), url('/fonts/firasans/firasans-bolditalic-webfont.ttf') format('truetype'), url('/fonts/firasans/firasans-bolditalic-webfont.svg#fira_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}