// Typography
$firasans: 'Fira Sans', sans-serif;

// Colors
$primary-color: #005bff;
$primary-bg: #003478;
// $primary-color: #0863ac;
$second-color: #f91155;

$primary-color-second: #74768a;
$primary-color-three: #e2eaf1;
$second-color-second: #ff4f53;

$notprimary-color: #0b4ca0;

$third: #001a34;

$gray: #c0c0c0;
$gray-2: #e8f0f7;
$gray-3: #f4f8fb;
